<footer class ="jumbitron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-2">
          <p id="p_ojitos_descripcion">
            En nuestra institución de cuidado animal y adopción, nos dedicamos con pasión al
            bienestar y protección de los animales domésticos necesitados. Brindamos refugio,
            atención amorosa y alimentación a aquellos que han sido abandonados, maltratados
            o están sin hogar. Nuestra principal misión es encontrar hogares amorosos y permanentes
            para estos animales a través de procesos de adopción responsables.
          </p>
        </div>
      </div>
      <div class="text-center mb-2" >
        <a href="" class="text-white me-4">
          <i class=" fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class=" fa fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class=" fa fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class=" fa fa-instagram"></i>
        </a>

      </div>
    </div>
  </div>

</footer>
